/* For desktop version */

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  background: blue;

}
.sidebarOpen{
  width: 250px;
}

.sidebar .logoDetails{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;

}
.sidebar .logoDetails .icon{
  opacity: 0;
  transition: all 0.5s ease;
}

#paroquia {
    display: none;
}

.sidebarOpen #paroquia {
    display: block;
    width: 80%;
    margin: 15px auto 0;
    filter: contrast(0) brightness(0) invert(100%);
}

.sidebar .logoDetails .logo_name{
  color: var(--white-default);
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebarOpen .logoDetails .icon,
.sidebarOpen .logoDetails .logo_name{
  cursor: pointer;
  margin-left: 50px;
  opacity: 1;
}
.sidebar .logoDetails #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebarOpen .logoDetails #btn{
  text-align: right;
}
.sidebar i{
  color: var(--white-default);
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .navList{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: var(--white-default);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebarOpen li .tooltip{
  display: none;
}
.sidebar li .linkReference{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: var(--blue-default);
}
.sidebar li .linkReference:hover{
  background: #FFF;
}
.sidebar li .linkReference .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebarOpen li .linkReference .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li .linkReference:hover .links_name,
.sidebar li .linkReference:hover i{
  transition: all 0.5s ease;
  color: var(--blue-default);
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;

}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: var(--blue-darker);
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebarOpen li.profile{
  width: 250px;
}
.sidebar li .profileDetails{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;

}
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: var(--blue-darker);
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebarOpen .profile #log_out{
  cursor: pointer;
  width: 50px;
  background: none;
}
.homeSection{
  top: 0;
  left: 78px;
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  padding: 20px;
  z-index: 2;
}
.sidebarOpen ~ .homeSection {
  left: 250px;
  width: calc(100% - 250px);
}

/* For mobile version */
@media (max-width: 700px) {

  .sidebar li .tooltip{
    display: none;
  }

  .sidebarOpen,
  .sidebar .profile,
  .sidebar .logoDetails,
  .sidebar .sidebarOpen,
  .sidebarOpen #paroquia{
    display: none;
  }

  .homeSection{
    left: 0;
    width: 100vw;
  }

  .sidebarOpen ~ .homeSection {
    left: 0px;
    width: 100%;
    }

  .sidebarOpen li .linkReference .links_name{
    display: none;
  }

  .sidebar, .sidebarOpen {
    top: 90%;
    padding: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0 0;
  }

  .sidebar .navList {
    margin-top: 0;
    display: flex;
  }

  .sidebar .navList li{
    top: 0;
    margin: 8px 5px 0 5px;
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
  }

  .sidebar .navList li .linkReference {

    right: 0;
    height: 52px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    cursor: default;
  }

  .sidebar .navList li linkReference i{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
  }

}


